.card{
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  padding: 2rem 1.5rem;
  position: relative;
}

.card h3{
  color: var(--dark-violet);
  line-height: 2rem;
}

.card .img{
  position: absolute;
  top: -20%;
  left: 39%;
  background: var(--dark-violet);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}

.card img{
}