header {
  display: grid;
  grid-template-rows: 1fr 1.1fr;
  background: url(../assets/images/illustration-working.svg) 1.5rem top/31rem
    no-repeat;
}

.hero-img-wrap {
  grid-row: 1;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 8rem;
  margin: 0 1.5rem;
}
.hero-section h1 {
  color: var(--dark-violet);
}
.hero-txt {
  color: var(--grayish-violet);
  line-height: 1.9rem;
  margin: 0.5rem 0 2rem 0;
  font-size: 18px;
}

.shorten-wrap {
  position: relative;
}
.shorten {
  position: absolute;
  width: 88vw;
  top: -4.5rem;
  display: grid;
  row-gap: 1rem;
  border-radius: 10px;
  margin: 0 1.5rem;
  background: var(--very-dark-blue) url(../assets/images/bg-shorten-mobile.svg)
    no-repeat;
  background-position: top right;
  padding: 1.5rem;
}
.shorten input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  width: 100%;
}
.shorten input[type="text"]:focus{
  outline: none;
}

.links-wrap{
  margin-top: 3.4rem;
}
.links{
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  margin-top: 1.5rem;
}
.links span{
  color: var(--very-dark-violet);
  border-bottom: 1px solid var(--gray);
  padding: 1rem 0 1rem 1rem;
}
.links .full-link{
  margin-right: 1rem;
  text-align: left;
  overflow: hidden;
  /* overflow-wrap: break-word; */
}
.links .short-link{
  text-align: left;
  color: var(--cyan);
  padding-bottom: 1rem;
}
.links div{
  padding: 1rem;
}

.advanced {
  background: hsla(258, 7%, 63%, 0.153);
  padding: 3rem 1.5rem;
  text-align: center;
}
.advanced .title {
  margin: 4rem 0 3rem 0;
}
.advanced .title h2 {
  color: var(--very-dark-violet);
}

.cards {
  display: grid;
  row-gap: 4rem;
}

@media screen and (min-width: 601px) {
  header {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
    padding: 6rem 0 5rem 11rem;
    background-position: 106% 20%;
    background-size: 43rem;
  }

  .hero-img-wrap {
    grid-column: 2;
  }
  .hero-section h1 {
    font-size: 3rem;
  }
  .hero-section {
    text-align: left;
    align-items: flex-start;
  }

  .shorten {
    margin: 0 12rem;
    width: 75vw;
    top: -3.6rem;
    grid-template-columns: 3fr 1fr;
    column-gap: 1rem;
    padding: 2rem;
    background-image: url(../assets/images/bg-shorten-desktop.svg);
    background-position: top left;
    background-size: cover;
  }
  .shorten input[type="text"] {
    padding: 1rem;
  }

  .advanced {
    padding: 3rem 12rem;
  }

  .advanced .title {
    margin: 6rem 0 3rem 0;
  }
}
