.nav{
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
  box-shadow: 0 0.1px 10px #eaeaea;
}
.menu {
  background: rgb(255, 255, 255);
  border-top: 1px solid #eaeaea;
  list-style-type: none;
  position: absolute;
  width: 100%;
  top: 3rem;
}
.menu li{
  padding: .5rem 2rem;
}
.menu li a:focus, .menu li a:hover{
  border-bottom: 2px solid var(--purple);
}

.menu a {
  text-decoration: none;
  color: var(--primary);
}

@media screen and (min-width: 769px) {
  .menu {
    width: 35%;
    display: flex;
    justify-content: space-between;
    position: static;
    box-shadow: none;
    border: none;
  }
  .menu li{
    border: none;
  }
  .menu-icon{
    display: none;
  }
}